/* 
font-family: "Roboto",serif;
font-family: "Raleway",serif; 
*/

/* .container {
    max-width:
    padding-left:
    padding-right:
    margin-left:
    margin-right:
} 
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-nav-list,
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .header-logo-part {
  color: #2e2f42;
}

.header-nav-list-item:hover,
.header-nav-list-item:focus {
  color: #404bbf;
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: #404bbf;
}

.header-nav-list-item-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list-item-link-after {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list-item-link-after::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address-list-item-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- Секция №1 ---------- */

.main-section-one {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/Background/people-office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-section-one {
}

.main-section-one-h_one {
  display: block;
  max-width: 496px;
  margin: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.main-section-one-button {
  display: block;
  min-width: 169px;
  margin: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-one-button:hover,
.main-section-one-button:focus {
  background-color: #404bbf;
}

/* ---------- Секция №2 ---------- */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.main-section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-section-two {
}

.main-section-two-h_two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-section-two-list {
  display: flex;
  gap: 24px;
}

.main-section-two-list-item {
  width: calc((100% - 72px) / 4);
}

.main-section-two-list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
}

.main-section-two-list-item-svg {
}

.main-section-two-list-item-h_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-section-two-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------- Секция №3 ---------- */

.main-section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-section-three {
}

.main-section-three-h_two {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.main-section-three-list {
  display: flex;
  gap: 24px;
}

.main-section-three-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.container-section-three-person {
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-section-three-list-item-h_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-section-three-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* ---------- Секция №4 ---------- */

.main-section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container .container-section-four {
}

.main-section-four-h_two {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.main-section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-section-four-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-four-list-item:hover .overlay-text,
.main-section-four-list-item:focus .overlay-text {
  transform: translateY(0);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-section-four-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-section-four-list-item-h_three {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-section-four-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------- Footer ---------- */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo_and_p {
  margin-right: 120px;
}

.container-social-media {
  font-style: normal;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 264px;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

/* ---------- Затемнение заднего фона + кнопка закрытия ---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  padding: 24px;
  padding-top: 72px;
}

.modal-text {
  margin-bottom: 16px;
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  fill: #2e2f42;
  background-color: #e7e9fc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: #fff;
  background-color: #404bbf;
}

/* ---------- Форма ---------- */

.form-wrapper-cont {
  margin-bottom: 8px;
}

.form-label-person {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-wrapper-person {
  position: relative;
}

.form-input-person {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-person:focus {
  border: 1px solid #4d5ae5;
}

.form-svg-person {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-person:focus + .form-svg-person {
  fill: #4d5ae5;
}

.form-person-comment {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.form-person-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-person-comment:focus {
  border: 1px solid #4d5ae5;
}

/* ---------- Чекбокс ---------- */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.checkbox {
  margin-bottom: 24px;
}

.checkbox-stock {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-text .checkbox-castom {
  border-radius: 2px;
  background-color: #404bbf;
  fill: #f4f4fd;
  border: transparent;
}

.checkbox-castom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-btn-submit {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}

.form-btn-submit:focus,
.form-btn-submit:hover {
  background-color: #404bbf;
}
